<div class="album">
  <header>
    <span>{{pageTitle}}</span>
  </header>
  <div class="album__wrapper">
    <div class="album__card-elements">
      <div class="card" *ngFor="let item of items">
        <app-card-element [item]="item"></app-card-element>
      </div>
    </div>
    <div class="album__filters">
      <div class="row">
        <app-dropdown-filter [config]="filterationType.genres" (selectedItem)="onFilterByGenres($event)"></app-dropdown-filter>
      </div>
      <div class="row">
        <app-dropdown-filter [config]="filterationType.year" (selectedItem)="onFilterByYear($event)"></app-dropdown-filter>
      </div>
      <div class="row">
        <app-input-filter [config]="filterationType.artist" (searchTerm)="onFilterByArtist($event)"></app-input-filter>
      </div>
      <div class="row">
        <app-input-filter [config]="filterationType.title" (searchTerm)="onFilterByTitle($event)"></app-input-filter>
      </div>
    </div>
  </div>
  <div *ngIf="LoadingState === ''">
    <span>{{illustrationString}}</span>
  </div>
</div>
