<div class="player">
  <div class="player__go-back-icon">
    <img class="cursor-pointer h-5 w-5" (click)="onGoBack()" src="./../../../assets/icons/arrow-back.svg">
  </div>

  <div class="player__content-wrapper">
  <img src="{{selectedAlbum.imageUrl}}" class="selected-album">
  <div class="audio-track flex mt-10 justify-center items-center">
    <img src="./../../../assets/icons/play.svg" class="h-8 w-8">
    <span class="track">
      <span class="range"></span>
    </span>
  </div>
  <div>
</div>
