<div class="registration-form-wrapper">
  <div class="input-field">
    <input type="text" placeholder="Enter username">
  </div>
  <div class="input-field">
    <input type="text" placeholder="Enter email id">
  </div>
   <div class="input-field">
    <input type="text" placeholder="Enter password">
  </div>
   <div class="input-field">
    <input type="text" placeholder="Enter password again">
  </div>
  <div class="buttons">
    <button class="cancel">Cancel</button>
    <button class="active">Register</button>
  </div>
</div>
