.card {
    width: 100%;
    padding: 0 0 10px 0;
    &__image-url {
        width: 120px;
        object-fit: cover;
        height: 120px;
    }
    span {
        display: block;
        padding: 5px;
        width: 150px;
        white-space: nowrap;
        overflow: hidden;
        font-size: 12px;
        text-overflow: ellipsis;
    }
}